html {
    padding: 0;
    margin: 0;
}

#landing {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 50;
    transition: 1s linear;
}

#landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#landing p {
    color: white;
    font-size: 5rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Teko" !important;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #181818;
}

#navbar {
    width: 55rem;
    height: 7rem;
    background: #181818;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 6rem;
    color: rgb(235, 235, 235)
}

#name h3 {
    margin: 0;
    font-weight: 400 !important;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    height: 1.4rem;
}

#links {
    margin-left: auto;
    margin-right: 6rem;
}

#links a {
    text-decoration: none;
    color: rgb(235, 235, 235);
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 4rem;
    transition: 0.2s linear;
}

#links a:hover {
    color: rgb(124, 124, 124);
}

#info {
    width: 55rem;
    margin-top: 4rem;
    position: relative;
}

#portrait-container img {
    width: 20rem;
}

#portrait-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-right: 5rem;
    top: 0;
    right: 0;
    z-index: -10;
}

#personal-info {
    width: 35rem;
    height: 31rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 5rem;
}

#personal-description {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(235, 235, 235);
    line-height: 2.8rem;
    width: 100%;
}

#personal-divider {
    width: 6rem;
    height: 2px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#additional-info {
    color: rgb(122, 122, 122);
    font-size: 1.5rem;
    width: 20rem;
    height: fit-content;
    margin-bottom: 0;
    margin-top: 2rem;
}

#social-links {
    display: flex;
    flex-direction: row;
    margin-top: 1.4rem;
}

#social-links img {
    width: 1.5rem;
    margin-right: 2rem;
    filter: invert(48%) sepia(0%) saturate(2%) hue-rotate(120deg) brightness(99%) contrast(91%);
    transition: 0.2s linear;
}

#social-links img:hover {
    filter: invert(22%) sepia(0%) saturate(4562%) hue-rotate(332deg) brightness(85%) contrast(86%);
}